body {
    background: red;
    color: yellow;
}

#images img {
  width: 450px;
  float: left;
}

#print_images img {
  height: 440px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

button {
    font-size: 50
}

input {
    font-size: 50
}