body {
    background: red;
    color: yellow;
}

#images img {
  width: 450px;
  float: left;
}

#print_images img {
  width: 700px;
  float: left;
}

button {
    font-size: 50
}

input {
    font-size: 50
}