<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<div style="text-align: center"><h1>Photo-Session</h1></div>
<br>
Session: {{session_id}}
<br>
Photo: {{photo_id}}
<br>

<div id="images">
{% for img in range(photo_id) %}
<img src="{{url_for('static', filename='photos/full/')}}image_{{session_id}}_{{img}}.jpg">

{% endfor %}
</div>
{% if photo_id < max_photos %}

<form action="{{ url_for('photo_session', photo_id=photo_id ) }}" method=post>
	<div style="text-align: center"><button name="btn_start" type="submit">Nächstes Foto!</button></div>
</form>

{% else %}

<form action="{{ url_for('print_selection') }}" method=post>
	<div style="text-align: center"><button name="btn_start" type="submit">Druck!</button></div>
</form>

{% endif %}
</body>
</html>